* {
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
}

body {
  background: url("./../img/Background.png") no-repeat center center fixed;
  background-size: cover;
}

#header-background {
  background-color: rgba(233, 241, 226, 1);
  border-bottom: 1px solid #dae5d0;
  height: 110px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 2;
}

#logo {
  left: 18px;
  position: fixed;
  top: 18px;
  z-index: 3;
}

#nav {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 3;
}

#nav ul {
  list-style-type: none;
}

#nav li {
  color: #3E3E3E;
  display: inline;
  font-family: 'Oswald', sans-serif;
  font-size: 16pt;
  margin: 30px;
}

#about, #contact {
  background-color: rgba(233, 241, 226, 0.6);
  border: 1px solid #dae5d0;
  margin-top: 45vh;
  margin-right: 10vw;
  margin-left: 10vw;
  padding: 34px;
  width: 80vw;
}

#work {
  display: flex;
  flex-wrap: wrap;
  height: 60vw;
  margin-top: 45vh;
  margin-right: 10vw;
  margin-left: 10vw;
  padding: 34px;
  width: 80vw;
}

.project {
  background-color: rgba(233, 241, 226, 0.6);
  border: 1px solid #dae5d0;
  height: 160px;
  margin: 10px;
  position: relative;
  width: 160px;
}

.project-img {
  filter: grayscale(100%);
  height: 144px;
  margin: 8px;
  object-fit: cover;
  width: 144px;
}

.project-info {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #3E3E3E;
  color: #3E3E3E;
  display: none;
  font-size: 10pt;
  height: 144px;
  left: 8px;
  padding: 4px;
  position: absolute;
  text-align: center;
  top: 8px;
  z-index: 1;
  width: 144px;
}

.project-info h4{
  font-family: 'Oswald', sans-serif;
  margin-bottom: -6px;
}

.project:hover .project-info {
  display: block;
}

#footer {
  align-items: center;
  background-color: rgba(233, 241, 226, 0.8);
  border-top: 1px solid #dae5d0;
  bottom: 0px;
  display: flex;
  height: 70px;
  justify-content: flex-end;
  left: 0px;
  position: fixed;
  width: 100vw;
}

#social-links {
  margin-right: 50px;
}

#social-links img {
  margin-right: 20px;
}
