/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif; */

* {
  font-family: 'Roboto Slab', serif;
}

body {
  background: url("./../img/Background.png") no-repeat center center fixed;
  background-size: cover;
}

#footer {
  align-items: center;
  background-color: rgba(233, 241, 226, 0.8);
  bottom: 0px;
  display: flex;
  height: 70px;
  justify-content: flex-end;
  left: 0px;
  position: fixed;
  width: 100vw;
}

#social-links {
  margin-right: 50px;
}

#social-links img {
  margin-right: 20px;
}
